scatter-gather-demo/src/main/mule/scatter-gather-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="37b8f28e-e05f-43a1-a5f5-afc245372c47" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="ad195cb1-cc0a-464c-8c0a-3124be805394" >
		<http:request-connection host="mu.learn.mulesoft.com" />
	</http:request-config>
	<flow name="scatter-gather-demoFlow" doc:id="56d10779-d8e3-445e-a837-58b7eb659ec1" >
		<http:listener doc:name="Listener" doc:id="29fe7101-0662-497b-9e55-568ae3aa5cb0" path="/demo" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="77240a12-5e6f-4f9d-894c-37ab477b05e7" message='#["Start of the flow"]'/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="fb864f8d-c5ee-4c8f-9bc9-fc5a7ae0e340" >
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="67b9d48f-9ccb-46c1-823c-a0b3129b2ebd" message='#["Start of the flow"]'/>
				<http:request method="GET" doc:name="Request" doc:id="9768838a-43b4-4daa-b91a-7d3059c64cda" path="/united/flights" config-ref="HTTP_Request_configuration"/>
				<logger level="INFO" doc:name="Logger" doc:id="5eae325b-1b1b-4ad0-a2f7-47d2238904b8" message='#["end of the flow"]'/>
			</route>
		</scatter-gather>
		<logger level="INFO" doc:name="Logger" doc:id="58e7747d-8cb6-4e31-a76e-fd3a79ea1fac" message='#["End of the flow"]'/>
	</flow>
</mule>
